.header-section {
  justify-content: space-between;
  align-items: center;
  background-color: #454545;
}

.user-dropdown-greeting {
  display: flex;
  align-items: center;
  color: #fcfcfc;
  i {
    padding-right: 10px;
    font-size: xx-large;
  }
}
